/* styles/globals.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ffe6f0, #fce4ec);
  color: #4b2c35;
}

.main-container {
  padding: 40px 20px;
  text-align: center;

  background-image: url('/pink-flower.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 30px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #d63384;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  background-color: #fff0f5;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: left;
}

.color-dots {
  margin-top: 10px;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
}
.dot1 { background-color: #a3a3f7; }
.dot2 { background-color: #baffc9; }
.dot3 { background-color: #ffb3ba; }
.dot4 { background-color: #ffffba; }

.btn-row {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.step-row {
  margin-top: 10px;
}
.step-btn {
  margin: 2px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.step-btn:hover {
  background-color: #f48fb1;
  color: white;
}
.step-btn.active {
  font-weight: bold;
  width: auto;
  background-color: #f48fb1;
  color: white;
}
.btn {
  height: auto;
  width: 70%;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
/* Button Colors */
.btn.increment {
  background-color: #f48fb1;
  color: white;
}
.btn.increment:hover {
  background-color: #ec407a;
}

.btn.decrement {
  background-color: #f48fb1;
  color: white;
}
.btn.decrement:hover {
  background-color: #ec407a;
}

.btn.auto {
  background-color: #e1bee7;
}
.btn.auto:hover {
  background-color: #ce93d8;
}

.btn.reset {
  background-color: #d1c4e9;
}
.btn.reset:hover {
  background-color: #b39ddb;
}

.btn.submit {
  background-color: #c5e1a5;
}
.btn.submit:hover {
  background-color: #aed581;
}

.btn.cancel {
  background-color: #f8bbd0;
}
.btn.cancel:hover {
  background-color: #f48fb1;
}

input, select {
  height: auto;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}